.theme--light .portfolio__button {
  border: 1px solid #0366d7;
  color:antiquewhite;
}

.theme--light .portfolio__button:hover {
  background: white;
}

.theme--dark .portfolio__button {
  border: 1px solid #0366d7;
  color:antiquewhite;
}

.theme--dark .portfolio__button:hover {
  background: white;
}

.portfolio__button {
  background: #0366d7;
  font-weight: 800;
}

.portfolio__button:hover {
  font-weight: 800;
}

.portfolio__image-wrapper {
  z-index: 1;
}

.nav nav--active {
    z-index: 100;
  }



